<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-button (click)="presentActionSheet()"  fill="clear" slot="end">
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      Bienvenido 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
