<app-header title="Admin"></app-header>


<ion-content class="ion-padding">

   
  <br>
  <ion-button expand="block" (click)="addProduct()">Agregar Producto</ion-button>
  <br>

  <ion-item *ngFor="let product of products">
    <ion-label class="normal">
      {{product.ProductName}}</ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>