<app-header title="Bienvenido" ></app-header>

<ion-content [fullscreen]="true">
  <ion-grid style="overflow: hidden; position: fixed; width: 100%;" *ngIf="products.length == 0">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]" >
        <ion-skeleton-text animated style="width: 100; height: 200px;">
        </ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col size="6" *ngFor="let product of  products" class="product" 
      (click)="viewProduct(product.id, product.ProductName, product.Picture, product.Price, product.Category)" >
       <img src="{{product.Picture}}" alt="">
       <ion-item lines="none" >
         <ion-label>
           <h2>{{product.ProductName}}</h2>
           <p>{{product.Price | currency:'HNL ' }}</p>
           <ion-note>{{product.Category}}</ion-note>
         </ion-label>
       </ion-item> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
