<app-header title="Carrito"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of  products" class="product"
        (click)="viewProduct(product.id, product.name, product.picture, product.price, product.category,  product.company)">
        <img src="{{product.picture}}" alt="">
        <ion-item lines="none">
          <ion-label>
            <h2>{{product.name}}</h2>
            <p>{{product.price | currency:'HNL ' }}</p>
            <ion-note>{{product.category}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="ion-text-center"  style="padding-top: 200px;" *ngIf="products.length == 0">
    <ion-icon name="cart-outline" style="font-size: 50px;"></ion-icon>
    <br>
    <ion-note>
      El carrito esta vació
    </ion-note>
    <br>
    <ion-button (click)="goTo()" fill="clear" >
      Comenzar a Comprar!
    </ion-button>
  </div>
</ion-content>

<ion-footer  *ngIf="products.length > 0" >
  <ion-toolbar>
    <ion-button (click)="purchaseOrder()" expand="block" fill="clear" >
      Generar Compra
    </ion-button>
  </ion-toolbar>
</ion-footer>